* {
  border: 1px solid red;
  box-sizing: border-box;
}

/*TEXT*/

body {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 13px;
}

span {
  font-family: 'Cabin Sketch', cursive;
  font-size: 14px;
  font-weight: bold;
}

/*DIV SETUP*/

div {
  display: none;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding: 0;
}

.inside {
  border: 2px solid black;
  display: inline-block;
  padding: 0;
  margin: 0;
}

#splash-screen {
  background: url('../images/background-idea.jpg');
}

.story-screen {
  background: url('../images/story-background.jpg');
}

.story-table div {
  border: 2px solid black;
  border-radius: 25px;
  margin: 5px 10px;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.75);
  display: inline-block;
  width: 440px;
  height: 500px;
}

.replay-screen {
  background: black;
}

/*GAMEBOARD*/

#gameboard {
  background: url('../images/window-idea.jpg');
  background-size: contain;
}

.console {
  width: 198px;
  height: 100px;
}

.spider-column {
  width: 97px;
  height: 484px;
}

/*IMAGE POSITIONING*/

#title {
  position: relative;
  top: 30px;
  left: 60px;
}

#start {
  position: relative;
  top: 180px;
  left: 180px;
}

.replay-spider {
  height: 260px;
  display: block;
  margin: 0 auto;
}

.replay-message {
  height: 280px;
  position: relative;
  left: 120px;
  height: 150px;
}

.replay-yes {
  position: relative;
  left: 160px;
}

/* SPIDER ANIMATION drop 0 */

td {
  border: 1px solid red;
  padding: 0;
  margin: 0;
}

.p0 {
  animation-name: spiders0;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: translate3d(0px, -240px, 0px);
}

@keyframes spiders0 {
  0% {
    transform: translate3d(0px, -160px, 0px);
    animation-timing-function: ease-in;
  }

  10% {
    transform: translate3d(0px, -120px, 0px);
    animation-timing-function: ease-out;
  }

  20% {
    transform: translate3d(0px, -80px, 0px);
    animation-timing-function: ease-in;
  }

  30% {
    transform: translate3d(0px, -40px, 0px);
    animation-timing-function: ease-out;
  }

  40% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(0px, 40px, 0px);
    animation-timing-function: ease-out;
  }

  60% {
    transform: translate3d(0px, 80px, 0px);
    animation-timing-function: ease-in;
  }

  70% {
    transform: translate3d(0px, 120px 0px);
    animation-timing-function: ease-out;
  }

  80% {
    transform: translate3d(0px, 160px, 0px);
    animation-timing-function: ease-in;
  }

  90% {
    transform: translate3d(0px, 200px, 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 220px, 0px);
  }
}

/*ANIMATION DROP 1*/

.p1 {
  animation-name: spiders1;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: translate3d(0px, -240px, 0px);
}

@keyframes spiders1 {
  0% {
    transform: translate3d(0px, -160px, 0px);
    animation-timing-function: ease-in;
  }

  25% {
    transform: translate3d(0px, -100px, 0px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(0px, -40px, 0px);
    animation-timing-function: ease-out;
  }

  75% {
    transform: translate3d(0px, 20px 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 60px, 0px);
  }
}

/*ANIMATION DROP 2 */

.p2 {
  animation-name: spiders2;
  animation-duration: 3s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: translate3d(0px, -240px, 0px);
}

@keyframes spiders2 {
  0% {
    transform: translate3d(0px, -140px, 0px);
    animation-timing-function: ease-in;
  }

  33% {
    transform: translate3d(0px, -40px, 0px);
    animation-timing-function: ease-in;
  }

  66% {
    transform: translate3d(0px, 60px 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 160px, 0px);
  }
}
