* {
  border: 1px solid red;
  box-sizing: border-box;
}

/*TEXT*/
body {
  font-family: 'Didact Gothic', sans-serif;
}

h1 {
  font-family: 'Cabin Sketch', cursive;
}


/*DIV SETUP*/

div {
  display: none;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  padding: 0;
}

.inside {
  border: 2px solid black;
  display: inline-block;
  padding: 0;
  margin: 0;
}

/*BUTTON DECORATION*/

button {
  display: flex;

}

#splash-button {
  font-size: 60px;
  font-weight: bold;
  color: orange;
  padding: 20px 20px;
  margin: 20px auto;
  background-color: green;
  background: -webkit-linear-gradient;
  text-transform: uppercase;
}

/*CANVAS*/



/*GAMEBOARD*/

#gameboard {
  background: url('../images/resize-window.jpg');
  background-size: contain;
}

.console {
  width: 198px;
  height: 100px;
}

.spider-column {
  width: 97px;
  height: 484px;
}

.empty {
  width: 97px;
  height: 484px;
}

/*IMAGE*/



/*.opened {
  border: 2px solid black;
  background: green;
}

.closed {
  display: none;
}*/

td {
  border: 1px solid red;
  padding: 0;
  margin: 0;
}

img {
  animation-name: truespiders;
  animation-duration: 4s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: translate3d(0px, -240px, 0px);
}

@keyframes truespiders {
  0% {
    transform: translate3d(0px, -160px, 0px);
    background-color: red;
    animation-timing-function: ease-in;
  }

  10% {
    transform: translate3d(0px, -120px, 0px);
    background-color: orange;
    animation-timing-function: ease-out;
  }

  20% {
    transform: translate3d(0px, -80px, 0px);
    animation-timing-function: ease-in;
  }

  30% {
    transform: translate3d(0px, -40px, 0px);
    animation-timing-function: ease-out;
  }

  40% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translate3d(0px, 40px, 0px);
    animation-timing-function: ease-out;
  }

  60% {
    transform: translate3d(0px, 80px, 0px);
    animation-timing-function: ease-in;
  }

  70% {
    transform: translate3d(0px, 120px 0px);
    animation-timing-function: ease-out;
  }

  80% {
    transform: translate3d(0px, 160px, 0px);
    animation-timing-function: ease-in;
  }

  90% {
    transform: translate3d(0px, 200px, 0px);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translate3d(0px, 220px, 0px);
  }
}

/*  -webkit-transform: translate(3em,0);
  -moz-transform: translate(3em,0);
  -o-transform: translate(3em,0);
  -ms-transform: translate(3em,0);
  transform: translate(3em,0);
  0%   {background-color: red; left:0px; top:0px;}
  25%  {background-color: yellow; left:0px; top:20px;}
  50%  {background-color: blue; left:0px; top:40px;}
  75%  {background-color: green; left:0px; top:60px;}
  100% {background-color: red; left:0px; top:8px;}
*/}
